name: CI Pipeline

on:
  push:
    branches:
      - main
      - feature/*
      - enhancement/*
      - bugfix/*
      - hotfix/*
      - release/*
      - test/*
      - refactor/*
      - ci/*
      - style/*
      - docs/*
      - chore/*
  pull_request:
    branches:
      - main

jobs:
  commit-lint:
    uses: kuro-helper/.github/.github/workflows/commit-lint.yml@main

  go-build:
    needs: commit-lint
    uses: kuro-helper/.github/.github/workflows/go-build.yml@main
    with:
      use_kurohelperdb: 'main'